<table>
    <tr><td>{{ form_row(form.kenteken) }}</td></tr>
    <tr><td>{{ form_row(form.kaarttype) }}</td></tr>
    <tr><td>{{ form_row(form.vergunningsoort) }}</td></tr>
    <tr><td>{{ form_row(form.strandvergunningsoort) }}</td></tr>
    <tr><td>{{ form_row(form.uitgegeven) }}</td></tr>
    <tr><td>{{ form_row(form.uitgavedatum) }}</td></tr>
    <tr><td>{{ form_row(form.uitgavecount) }}</td></tr>
    <tr><td colspan="2"><h3>Geldig op</h3></td></tr>
    <tr><td>{{ form_row(form.donderdag) }}</td></tr>
    <tr><td>{{ form_row(form.vrijdag) }}</td></tr>
    <tr><td>{{ form_row(form.zaterdag) }}</td></tr>
    <tr><td>{{ form_row(form.zondag) }}</td></tr>
</table>