{{ form_row(form.kenteken) }}
{{ form_row(form.vergunningsoort) }}
{{ form_row(form.uitgegeven) }}
<div id="parkeerkaartFilter_uitgegeven_subform">
    {{ form_row(form.uitgavedatum) }}
    {{ form_row(form.uitgavecount) }}
</div>
<h3>Geldig op</h3>
{{ form_row(form.donderdag) }}
{{ form_row(form.vrijdag) }}
{{ form_row(form.zaterdag) }}
{{ form_row(form.zondag) }}