{% extends "ROTPBSBundle::layout.html.twig" %}
{% block title %}Nieuwe parkeerkaart{% endblock %}
{% block inner_content %}
    {{ include('ROTPBSBundle:Parkeerkaart:_object_actions.html.twig') }}
    <form novalidate action="{{path('rot_pbs_parkeerkaart_create')}}" method="POST" {{form_enctype(form)}}>
        {{ include('ROTPBSBundle:Parkeerkaart:_form.html.twig', {'form': form}) }}
        {{ form_rest(form) }}
        <input type="submit" value="Aanmaken" />
    </form>
{% endblock %}