{% set route = app.request.attributes.get('_route') %}
<ul class="buttons_large">
    <li><a href="{{path('rot_rbs_organisatie_index')}}">Index</a></li>
    {% if route != 'rot_rbs_organisatie_new' %}
        {% if route != 'rot_rbs_organisatie_show' %}
            <li><a href="{{path('rot_rbs_organisatie_show', {'id': organisatie.id})}}">Bekijk</a></li>
        {% endif %}
        {% if is_granted('ROLE_WIJZIG_RBS') %}
            {% if route != 'rot_rbs_organisatie_edit' %}
                <li><a href="{{path('rot_rbs_organisatie_edit', {'id': organisatie.id})}}">Wijzig</a></li>
            {% endif %}
            <li><a href="{{path('rot_rbs_organisatie_delete', {'id': organisatie.id})}}" data-method="DELETE">Verwijder</a></li>
        {% endif %}
        {% if route != 'rot_rbs_organisatie_log' %}
            <li><a href="{{ path('rot_rbs_organisatie_log', {'id': organisatie.id}) }}">Log</a></li>
        {% endif %}
    {% endif %}
</ul>