{% extends "ROTAdminBundle::admin_layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/rotpbs/js/pbs.js') }}"></script>
{% endblock %}
{% block navigation_small %}
{% set route = app.request.attributes.get('_route') %}
<ul id="subtabnav">
    <li class="{{"rot_pbs_overzicht" in route ? 'actievetab' : ''}}"><a href="{{path("rot_pbs_overzicht_overzicht")}}">Overzicht</a></li>
    <li class="{{"rot_pbs_parkeerkaart" in route ? 'actievetab' : ''}}"><a href="{{path("rot_pbs_parkeerkaart_index")}}">Parkeerkaarten</a></li>
    <li class="{{"rot_pbs_print" in route ? 'actievetab' : ''}}"><a href="{{path("print")}}">Print</a></li>
</ul>
{% endblock %}
