{% set route = app.request.attributes.get('_route') %}
<ul class="buttons_large">
    <li><a href="{{path('rot_rbs_betrokkene_index')}}">Index</a></li>
    {% if route != 'rot_rbs_betrokkene_new' %}
        {% if route != 'rot_rbs_betrokkene_show' %}
            <li><a href="{{path('rot_rbs_betrokkene_show', {'id': betrokkene.id})}}">Bekijk</a></li>
        {% endif %}
        {% if is_granted('ROLE_WIJZIG_RBS') %}
            {% if route != 'rot_rbs_betrokkene_edit' %}
                <li><a href="{{path('rot_rbs_betrokkene_edit', {'id': betrokkene.id})}}">Wijzig</a></li>
            {% endif %}
            <li><a href="{{path('rot_rbs_betrokkene_delete', {'id': betrokkene.id})}}" data-method="DELETE">Verwijder</a></li>
        {% endif %}
        {% if route != 'rot_rbs_betrokkene_log' %}
            <li><a href="{{ path('rot_rbs_betrokkene_log', {'id': betrokkene.id}) }}">Log</a></li>
        {% endif %}
    {% endif %}
</ul>