{% extends "ROTRBSBundle::layout.html.twig" %}
{% block title %}Betrokkenen{% if active_filter %} (gefilterd - "{{ active_filter.name }}"){% endif %}{% endblock %}
{% block inner_content %}
    <ul class="buttons_large">
        <li>
            <a href="#" id="admin-filter-toggle">Filter</a>
        </li>
        {% if is_granted('ROLE_WIJZIG_RBS') %}
        <li>
            <a href="{{path('rot_rbs_betrokkene_new')}}">Nieuw</a>
        </li>
        {% endif %}
    </ul>
    <div id="admin-filter" style="{{ active_filter ? '' : 'display: none'}}" class="ui-widget-header ui-corner-all">
        <ul class="buttons_small">
            <li>Filters</li>
            <li>
                <select id="admin-filter-select">
                    <option value="{{ path('rot_rbs_betrokkene_index') }}">-</option>
                    {% for filter in filters %}
                        <option value="{{ path('rot_rbs_betrokkene_filter', {'id': filter.id}) }}" {{ active_filter == filter ? 'selected' : '' }}>{{ filter.name }}</option>
                    {%  endfor %}
                </select>
            </li>
            <li><a href="{{ path('rot_rbs_betrokkene_newfilter') }}">Nieuwe filter</a></li>
            {% if active_filter %}
                <li><a href="{{ path('rot_rbs_betrokkene_editfilter', {'id': active_filter.id}) }}">Wijzig filter</a></li>
                <li><a href="{{ path('rot_rbs_betrokkene_deletefilter', {'id': active_filter.id}) }}" data-method="DELETE">Verwijder filter</a></li>
            {% endif %}
        </ul>
    </div>
    <table class="admin-table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Organisatie</th>
                <th>Soort</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            {% for betrokkene in betrokkenen %}
            <tr data-id="{{betrokkene.id}}">
                <td>{{betrokkene.naam}}</td>
                <td>{{betrokkene.organisatie}}</td>
                <td>{{betrokkene.soort}}</td>
                <td>
                    <a href="{{path('rot_rbs_betrokkene_show', {'id': betrokkene.id})}}"><img src="{{asset("bundles/rotadmin/images/show.png")}}" /></a>
                    {% if is_granted("ROLE_WIJZIG_RBS") %}
                        <a href="{{path('rot_rbs_betrokkene_edit', {'id': betrokkene.id})}}"><img src="{{asset("bundles/rotadmin/images/edit.png")}}" /></a>
                        <a href="{{path('rot_rbs_betrokkene_delete', {'id': betrokkene.id})}}" data-method="DELETE"><img src="{{asset("bundles/rotadmin/images/trash.png")}}" /></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}