{% extends "ROTAdminBundle::admin_layout.html.twig" %}
{% block title %}Wijzig wachtwoord voor gebruiker "{{ gebruiker }}"{% endblock %}
{% block inner_content %}
    {{ include('ROTAdminBundle:Gebruiker:_object_actions.html.twig', {"gebruiker": gebruiker}) }}
    <form novalidate action="{{path('rot_admin_gebruiker_updatepassword', {'id': gebruiker.id})}}" method="POST" {{form_enctype(form)}}>
        {{ form_row(form.password) }}
        {{ form_rest(form) }}
        <input type="hidden" name="_method" value="PUT" />
        <input type="submit" value="Opslaan" />
    </form>
{% endblock %}