{% extends "ROTIISBundle::layout.html.twig" %}
{% block title %}Nieuwe klasse{% endblock %}
{% block inner_content %}
    {{ include('ROTIISBundle:Klasse:_object_actions.html.twig') }}
    <form novalidate action="{{path('rot_iis_klasse_create')}}" method="POST" {{form_enctype(form)}}>
        {{ include('ROTIISBundle:Klasse:_form.html.twig', {'form': form}) }}
        {{ form_rest(form) }}
        <input type="submit" value="Aanmaken" />
    </form>
{% endblock %}