<div class="form-row {% if form.voornaam.vars.errors %}form-row-error{% endif %}">
    <div class="label">{{ form_label(form.voornaam) }}</div>
    <div class="widget">{{ form_widget(form.voornaam) }}</div>
    <div class="error">{{ form_errors(form.voornaam) }}</div>
    <div class="clearfix"></div>
</div>
<div class="form-row {% if form.tussenvoegsel.vars.errors %}form-row-error{% endif %}">
    <div class="label">{{ form_label(form.tussenvoegsel) }}</div>
    <div class="widget">{{ form_widget(form.tussenvoegsel) }}</div>
    <div class="error">{{ form_errors(form.tussenvoegsel) }}</div>
    <div class="clearfix"></div>
</div>
<div class="form-row {% if form.achternaam.vars.errors %}form-row-error{% endif %}">
    <div class="label">{{ form_label(form.achternaam) }}</div>
    <div class="widget">{{ form_widget(form.achternaam) }}</div>
    <div class="error">{{ form_errors(form.achternaam) }}</div>
    <div class="clearfix"></div>
</div>
<div class="form-row {% if form.adres.vars.errors %}form-row-error{% endif %}">
    <div class="label">{{ form_label(form.adres) }}</div>
    <div class="widget">{{ form_widget(form.adres) }}</div>
    <div class="error">{{ form_errors(form.adres) }}</div>
    <div class="clearfix"></div>
</div>
<div class="form-row {% if form.huisnummer.vars.errors %}form-row-error{% endif %}">
    <div class="label">{{ form_label(form.huisnummer) }}</div>
    <div class="widget">{{ form_widget(form.huisnummer) }}</div>
    <div class="error">{{ form_errors(form.huisnummer) }}</div>
    <div class="clearfix"></div>
</div>
<div class="form-row {% if form.woonplaats.vars.errors %}form-row-error{% endif %}">
    <div class="label">{{ form_label(form.woonplaats) }}</div>
    <div class="widget">{{ form_widget(form.woonplaats) }}</div>
    <div class="error">{{ form_errors(form.woonplaats) }}</div>
    <div class="clearfix"></div>
</div>
<div class="form-row {% if form.postcode.vars.errors %}form-row-error{% endif %}">
    <div class="label">{{ form_label(form.postcode) }}</div>
    <div class="widget">{{ form_widget(form.postcode) }}</div>
    <div class="error">{{ form_errors(form.postcode) }}</div>
    <div class="clearfix"></div>
</div>
<div class="form-row {% if form.geslacht.vars.errors %}form-row-error{% endif %}">
    <div class="label">{{ form_label(form.geslacht) }}</div>
    <div class="widget">{{ form_widget(form.geslacht) }}</div>
    <div class="error">{{ form_errors(form.geslacht) }}</div>
    <div class="clearfix"></div>
</div>
<div class="form-row {% if form.telefoon.vars.errors %}form-row-error{% endif %}">
    <div class="label">{{ form_label(form.telefoon) }}</div>
    <div class="widget">{{ form_widget(form.telefoon) }}</div>
    <div class="error">{{ form_errors(form.telefoon) }}</div>
    <div class="clearfix"></div>
</div>
<div class="form-row {% if form.noodtelefoon.vars.errors %}form-row-error{% endif %}">
    <div class="label">{{ form_label(form.noodtelefoon) }}</div>
    <div class="widget">{{ form_widget(form.noodtelefoon) }}</div>
    <div class="error">{{ form_errors(form.noodtelefoon) }}</div>
    <div class="clearfix"></div>
</div>
<div class="form-row {% if form.geboortedatum.vars.errors %}form-row-error{% endif %}">
    <div class="label">{{ form_label(form.geboortedatum) }}</div>
    <div class="widget">{{ form_widget(form.geboortedatummodifier) }}{{ form_widget(form.geboortedatum) }}</div>
    <div class="error">{{ form_errors(form.geboortedatum) }}</div>
    <div class="clearfix"></div>
</div>
<div class="form-row {% if form.email.vars.errors %}form-row-error{% endif %}">
    <div class="label">{{ form_label(form.email) }}</div>
    <div class="widget">{{ form_widget(form.email) }}</div>
    <div class="error">{{ form_errors(form.email) }}</div>
    <div class="clearfix"></div>
</div>
<div class="form-row {% if form.nationaliteit.vars.errors %}form-row-error{% endif %}">
    <div class="label">{{ form_label(form.nationaliteit) }}</div>
    <div class="widget">{{ form_widget(form.nationaliteit) }}</div>
    <div class="error">{{ form_errors(form.nationaliteit) }}</div>
    <div class="clearfix"></div>
</div>
